<h2>All Tasks</h2>

<form action="/sortcompleted" method="get">
  <input type="submit" value="Done Tasks">
    </form> 

<table>
<ul>

<%@posts.each do |post|%>
<tr>
<td><li><strong>Task: </strong><%=post["title"]%> | <strong><%=post["done"] ? "Done " : "Undone " %></strong>  </li></td>  

<td> <form action="/post/<%=post["id"]%>" method="post"> 
  <input type="submit" name="_method" value="Delete">
</form>
</td>
<td><form action="/complete/<%=post["id"]%>" method="get">
  <input type="submit" name="_method" value="Complete!">
    </form> 
</td>
<tr>
<%end%>

</table>
</ul>

<h3>Add a New Task</h3>
    <form method="post" action="/post">
    <label for="body">Task: </label>
    <input type="text" name="body">
    <input type="submit" value="Add!">
</form>

