<!DOCTYPE html>
<html>
  <head>
    <title>Task Pad</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: lightblue;
    }
    @media (min-width: 750px) {
      .row{
      margin-right: 50%;
      margin-left: 50%;
      /* margin-top: 10%; */
      }
    }
    @media (min-width: 500px) {
    .row {
      margin-right: 10%;
      margin-left: 10%;
      /* margin-top: 5%; */
      } 
    }
    .tasks {
    margin: 5px;
   }  
   .newtask {
    margin: 18px;
    margin-left: 15%;
    margin-right: auto;
   }
   .fluid {
     top:0; left:0;
   }
 
  </style> 


</head>
  <body>
  <div class="row">
        <div class="tasks">
          <div class="panel panel-default">
                    <div class="panel-heading"><strong>Tasks</strong></div>
                    <div class="panel-body"><%= yield%></div>
        </div>
      </div>
    </div>


  </body>
</html> 